body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(43, 69, 47);
    color: rgb(97, 122, 97);
}
h1 {
    text-align: center;
}
img {
    width: 450px;
    height: 350px;
}
