body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(223, 51, 123);
    color: rgb(252, 134, 199);
}
h1 {
    text-align: center;
}
img {
    width: 450px;
    height: 350px;
}
